@page "/Characters"
@inject MangaQuotes.Data.Services.CharacterService service
<h1 class="rvt-ts-xxl">Characters</h1>

@if (CharactersList.Any())
{
    <table class="rvt-table-stripes rvt-m-all-md">
        <caption class="sr-only">List of Characters</caption>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in CharactersList)
            {
                <tr>
                    <td>@character.Id</td>
                    <td>@character.Name</td>
                    <td>
                        <button class="rvt-button rvt-button--primary" @onclick="(() => SetCharacterForUpdate(character))">Edit</button>
                        <button class="rvt-button rvt-button--danger" @onclick="(() => DeleteCharacter(character))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="rvt-inline-alert rvt-inline-alert--standalone rvt-inline-alert--info rvt-m-all-md">
        <span class="rvt-inline-alert__icon">
            <svg role="img" xmlns="http://www.w3.org/2000/svg" class="rvt-icon">
                <use xlink:href="/images/rvt-icons.svg#rvt-icon-info-circle"></use>
            </svg>
        </span>
        <span class="rvt-inline-alert__message" id="radio-list-message">
            No characters found.
        </span>
    </div>
}

<div class="rvt-container rvt-container--junior rvt-container--center">
    <div class="rvt-grid">
        <div class="rvt-grid__item-6-md-up">
            <h2>Add New Character</h2>
            <EditForm Model="@NewCharacter">
                <div>
                    <label for="name">Character Name</label>
                    <input type="text" id="name" class="form-control" @bind-value="@NewCharacter.Name" />
                </div>

                <div>
                    <button class="btn btn-info" @onclick="AddNewCharacter"> Add Character</button>
                </div>
            </EditForm>
        </div>
        <div class="rvt-grid__item-6-md-up">
            <h2>Edit Character</h2>
            <EditForm Model="@UpdateCharacter">
                <div>
                    <label for="name">Character Name</label>
                    <input type="text" id="name" class="form-control" @bind-value="@UpdateCharacter.Name" />
                </div>

                <div>
                    <button class="btn btn-info" @onclick="UpdateCharacterData"> Update Character</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {

    List<Character> CharactersList = new List<Character>();
    protected override async Task OnInitializedAsync()
    {
        await RefreshCharacters();
    }

    private async Task RefreshCharacters()
    {
        CharactersList = await service.GetCharactersAsync();
    }

    public Character NewCharacter { get; set; } = new Character();
    private async Task AddNewCharacter()
    {
        await service.AddCharacterAsync(NewCharacter);
        NewCharacter = new Character();
        await RefreshCharacters();
    }

    Character UpdateCharacter = new Character();
    private void SetCharacterForUpdate(Character character)
    {
        UpdateCharacter = character;
    }

    private async Task UpdateCharacterData()
    {
        await service.UpdateCharacterAsync(UpdateCharacter);
        await RefreshCharacters();
    }

    private async Task DeleteCharacter(Character character)
    {
        await service.DeleteCharacterAsync(character);
        await RefreshCharacters();
    } 
}